# Database Configuration
DB_NAME=capstone_db
DB_USER=capstone_user
DB_PASSWORD=capstone_password
DB_ROOT_PASSWORD=root_password
DB_HOST=db
DB_PORT=3306

# Backend Configuration
SECRET_KEY='django-insecure-nw@e(we@@bhn6jcz=_qq%l_bj_4_3$$wbo(_5#pjy5m3lnml2v5'
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Frontend Configuration
VITE_API_URL=http://localhost:8000
